{% extends "base.html" %} {% block content %}
<div class="row mt-4">
	<div class="col">
		<h2>Add Item</h2>
     {% csrf_token %}
    <form action="add_todo/" method="post" class="form-inline">
    {% csrf_token %}
		  <input type="text" required name="content" class="form-control mb-2 mr-sm-2" placeholder="type here...">
      <button type="submit" class="navbar navbar-dark bg-dark" style="color:white;border-radius:10px;">Submit</button>
    </form>
  </div> 
</div>
  <div class="row mt-4">
    <div class="col">
    <div class="p-3 mb-2 bg text-white" style="height:20rem;
	width:40rem;
    background-color:rgba(25, 114, 80, 0.692);
    border-radius:30px;
    border-width:10px;
    border-height:10px;
    border-color:white;
    padding:10px;
    border:solid;">
      <h2 class="text-justify"style="font-size:20px;
       padding-bottom:-30px;
       margin-bottom:-15px;">Created by Aman Kaushik 13 year old Programmer</h2>

      <ul class="list-group" style="color:black; padding-top:3%;">
      {% csrf_token %}
        {% for todo_item in todo_items %}
          <li class="list-group-item" style="border-radius:10px; margin-top:10px;">{{ todo_item.text }}
            <div class="float-right">
            {% csrf_token %}
              <form action="delete_todo/{{todo_item.id}}/" action="post">
              {% csrf_token %}
                <button type="submit" class="btn btn-sm btn-danger">Delete</button>
              </form>
            </div>
          </li>
        {% endfor %}
        {% csrf_token %}
      </ul>
      </div>
    </div>
  <div>
{% endblock content %}